h1 {
    color: purple;
}

/* default color for a new list item is   */
li {
    background-color: #98DAF1;
}

/* task turns green when the complete button is clicked */
.taskComplete {
    background-color: #81CB71;
}
